.btn {
  text-decoration: none;
  background-color: gold;
  color: hsl(0, 0%, 5%);
  font-weight: bold;
  font-size: 15px;
  padding: 5px;
  border-radius: 2px;
  transition: 0.2ms;
  &:hover {
    background-color: hsl(195, 95%, 80%);
  }
}
