.card-grid {
  display: grid;
   grid-template-columns: repeat(3, 1fr);
   height: 100%;
   gap: 1em;
}

.container-grid {
  height: 20rem;
  $padding: 1em;
  padding: $padding;
  padding-top: 0em;
}

.action-container {
  margin: 0px;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  width: 6em;
  & .btn {
    margin-bottom: 10px;
  }
}

.info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
  width: 60vw;
  margin: 0px auto;
  overflow: hidden;
}

.blanck {
  background-color: lightgrey;
  width: 100%;
  height: 40%;
}



